body {
    background-color: #0d1219;

}

#jumbotron-header {
    text-align: center;
    font-size: 380%;
    font-weight: 600;

}

#sub-head{
    text-align: center;
    font-size: 155%;

}
#sign {
    text-align: center;
    font-size: 155%;
    

}