body {
    background-color: #27097a;

}

#card-header {
    background-color: #0d1219;
    font-size: 380%;
    font-weight: 600;
    color: aliceblue;

}

#card-body{
    background-color: #0d1219;
    color: aliceblue;
}

#card-footer{
    background-color: #0d1219;
    color: aliceblue;
}

.btn btn-warning{
    border-color: ffc107;
}
